.dropbtn {
    background-color:lightgray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}
/* 
.container:hover .dropdown-content {
    display: block;
} */

.container:hover .dropbtn {
    background-color: grey;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
.lan {
    background-color: grey;
    color: white;
}
.lanJQ{
    background-color: darkred;
    color: white;
}
.other {
    background-color: lightgrey;
}
img{
    text-align: center;
}
